<h2>Your payments:</h2>

<div class="btn-group">
    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">None</a></li>
        <li><a class="dropdown-item" href="#">By order ID</a></li>
        <li><a class="dropdown-item" href="#">By customer #</a></li>
        <li><a class="dropdown-item" href="#">By payment date</a></li>
    </ul>
</div>


<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
        Payment type
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">None</a></li>
        <li><a href="#online">Online</a></li>
        <li><a href="#offline">Offline</a></li>
    </ul>
</div>

<button class="btn btn-default" type="button" ng-click="toOnline()">View ePayments details</button>
<button class="btn btn-default" type="button" ng-click="toOffline()">View cheques details</button>

<table class="table table-bordered table-striped">
    <thead>
    <tr><td>Payment #</td><td>Customer Id</td><td>Payment Date</td><td>Order</td><td>Amount</td><td>Type</td></tr>
    </thead>
    <tbody>
    <tr ng-repeat="payment in payments">
        <td ng-bind="payment.id"></td>
        <td ng-bind="payment.customerId"></td>
        <td ng-bind="payment.date"></td>
        <td ng-bind="payment.order">
        </td><td ng-bind="payment.amount"></td>
        <td ng-bind="payment.type"></td>
        <td><button class="btn btn-default" type="button" ng-click="viewPayment(payment.id, payment.type)">View</button></td>
    </tr>
    </tbody>
</table>


