<h2>Your payments:</h2>

<div class="btn-group">
    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" ng-click="resetOrderBy()">None (Payment ID)</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('ORDER1')">By order #</a></li>
        <li ng-if="fixerUser.role == 'finance_employee'"><a class="dropdown-item" ng-click="setOrderBy('CLIENT')">By customer #</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('DATE1')">By date #</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('AMOUNT1')">By amount</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('TYPE1')">By type</a></li>
    </ul>
</div>


<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
        View payments separately
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-click="toOnline()">Online</a></li>
        <li><a ng-click="toOffline()">Offline</a></li>
    </ul>
</div>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input ng-if="fixerUser.role == 'finance_employee'" type="number" ng-model="where.customer" placeholder="Customer #"/>
            <input type="number" ng-model="where.orderNum" placeholder="Order #" />
            <input type="number" ng-model="where.number" placeholder="Payment ID" />
            <input type="number" ng-model="where.priceFrom" placeholder="Payment amount from" />
            <input type="number" ng-model="where.priceTo" placeholder="Payment amount to" />
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="filter()">Filter</button>
</form>

<table class="table table-bordered table-striped">
    <thead>
    <tr><td>Payment #</td><td>Customer Id</td><td>Payment Date</td><td>Order</td><td>Amount</td><td>Type</td></tr>
    </thead>
    <tbody>
    <tr ng-repeat="payment in payments">
        <td ng-bind="payment.id"></td>
        <td ng-bind="payment.customerId"></td>
        <td ng-bind="payment.date"></td>
        <td ng-bind="payment.order">
        </td><td ng-bind="payment.amount"></td>
        <td ng-bind="payment.type"></td>
        <td><button class="btn btn-default" type="button" ng-click="viewPayment(payment.id, payment.type)">View</button></td>
    </tr>
    </tbody>
</table>


