<h2>Part to repair:</h2>



<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>Part Number</td>
        <td>Part Name</td>
        <td>Repair Status</td>
        <td>Repair Date</td>
        <td>Order Number</td>
        <td>Quantity</td>
        <td>Repair person ID</td>
        <td>Repair person name</td>
        <td>Shop</td>
        <td>Repair priority</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="part in parts">
        <td ng-bind="part.partNumber"></td>
        <td ng-bind="part.name"></td>
        <td ng-bind="part.repairStatus"></td>
        <td ng-bind="part.repairDate"></td>
        <td ng-bind="part.orderNumber"></td>
        <td ng-bind="part.qtty"></td>
        <td ng-bind="part.master"></td>
        <td ng-bind="part.masterName"></td>
        <td ng-bind="part.shop"></td>
        <td ng-bind="part.priority"></td>
    </tr>
    </tbody>
</table>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input type="number" ng-model="repair.mechanic" placeholder="Repair person ID" />
            <input type="text" ng-model="repair.status" placeholder="Part Status" />
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="updateRepair()">Submit Repair</button>
</form>