<h2>Parts to repair:</h2>


<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
        Sort schedule by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ng-click="resetOrderBy()">None (part #)</a></li>
        <li><a ng-click="setOrderBy('repairStatus')">Repair Status</a></li>
        <li><a ng-click="setOrderBy('repairDate')">Repair Date</a></li>
        <li><a ng-click="setOrderBy('eridrepair')">Repair person ID</a></li>
        <li><a ng-click="setOrderBy('shopName')">Shop</a></li>
    </ul>
</div>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input class="form-control" type="number" ng-model="where.partN" placeholder="Part number"/>
            <input class="form-control" type="number" ng-model="where.order" placeholder="Order number"/>
            <input class="form-control" type="number" ng-model="where.mechanic" placeholder="Repair person ID" />
            <input class="form-control" type="text" ng-model="where.shop" placeholder="Shop #" />
            <select class="form-control" ng-model="where.status">
                <option value="all">-All-</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="filter()">Filter</button>
    <br />
</form>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>Part Number</td>
        <td>Part Name</td>
        <td>Repair Status</td>
        <td>Repair Date</td>
        <td>Order Number</td>
        <td>Quantity</td>
        <td>Repair person ID</td>
        <td>Repair person name</td>
        <td>Shop</td>
        <td>Repair priority</td>
        <td>Update</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="part in parts">
        <td ng-bind="part.partNumber"></td>
        <td ng-bind="part.name"></td>
        <td ng-bind="part.repairStatus"></td>
        <td ng-bind="part.repairDate"></td>
        <td ng-bind="part.orderNumber"></td>
        <td ng-bind="part.qtty"></td>
        <td ng-bind="part.master"></td>
        <td ng-bind="part.masterName"></td>
        <td ng-bind="part.shop"></td>
        <td ng-bind="part.priority"></td>
        <td><button class="btn btn-default" type="button" ng-click="updatePart(part.partNumber)">Repair</button></td>
    </tr>
    </tbody>
</table>
