<h2>Your payments:</h2>

<div class="btn-group">
    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" ng-click="resetOrderBy()">None</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('orNumpayOffline')">By order ID</a></li>
        <li ng-if="fixerUser.role == 'finance_employee'"><a class="dropdown-item" ng-click="setOrderBy('cidpayOffline')">By customer #</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('pymntDatepayOffline')">By payment date</a></li>

    </ul>
</div>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input class="form-control" type="number" ng-model="where.cheque" placeholder="Cheque number"/>
            <input class="form-control" type="number" ng-model="where.order" placeholder="Order number"/>
            <input ng-if="fixerUser.role == 'finance_employee'" class="form-control" type="number" ng-model="where.customer" placeholder="Customer #"/>
            <input class="form-control" type="number" ng-model="where.priceFrom" placeholder="Price from" />
            <input class="form-control" type="number" ng-model="where.priceTo" placeholder="Price To" />
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="filter()">Filter</button>
    <br />
</form>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>Cheque #</td>
        <td>Order #</td>
        <td ng-if="fixerUser.role == 'finance_employee'">Customer #</td>
        <td>Payment Date</td>
        <td>Amount</td>
        <td>Bank</td>
    </thead>
    <tbody>
    <tr ng-repeat="payment in payments">
        <td ng-bind="payment.chequeNumber"></td>
        <td ng-bind="payment.orderNumber"></td>
        <td ng-if="fixerUser.role == 'finance_employee'" ng-bind="payment.customerId"></td>
        <td ng-bind="payment.date"></td>
        <td ng-bind="payment.amount"></td>
        <td ng-bind="payment.bank"></td>
        <td><button class="btn btn-default" type="button" ng-click="viewPayment(payment.chequeNumber)">View</button></td>
    </tr>
    </tbody>
</table>
