<h2>Your payments:</h2>

<div class="btn-group">
    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" ng-click="resetOrderBy()">None</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('ordNumPayOnl')">By order ID</a></li>
        <li ng-if="fixerUser.role == 'finance_employee'"><a class="dropdown-item" ng-click="setOrderBy('cidpayOnline')">By customer #</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('pymntDateOnline')">By payment date</a></li>
    </ul>
</div>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input class="form-control" type="number" ng-model="where.etid" placeholder="ETID number"/>
            <input class="form-control" type="number" ng-model="where.order" placeholder="Order number"/>
            <input ng-if="fixerUser.role == 'finance_employee'" class="form-control" type="number" ng-model="where.customer" placeholder="Customer #"/>
            <input class="form-control" type="number" ng-model="where.priceFrom" placeholder="Price from" />
            <input class="form-control" type="number" ng-model="where.priceTo" placeholder="Price To" />
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="filter()">Filter</button>
    <br />
</form>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>ETID</td>
        <td>Order #</td>
        <td ng-if="fixerUser.role == 'finance_employee'">Customer #</td>
        <td>Payment Date</td>
        <td>Amount</td>
        <td>Credit card #</td>
        <td ng-if="fixerUser.role == 'customer'">Expiry date</td>
        <td>Card Holder</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="payment in payments">
        <td ng-bind="payment.etid"></td>
        <td ng-bind="payment.orderNumber"></td>
        <td ng-if="fixerUser.role == 'finance_employee'" ng-bind="payment.customerID"></td>
        <td ng-bind="payment.paymentDate"></td>
        <td ng-bind="payment.paymentAmount"></td>
        <td ng-bind="payment.creditCardNumber"></td>
        <td ng-if="fixerUser.role == 'customer'" ng-bind="payment.expiryDate"></td>
        <td ng-bind="payment.cardHolderName"></td>
        <td><button class="btn btn-default" type="button" ng-click="viewPayment(payment.etid)">View</button></td>
    </tr>
    </tbody>
</table>


