<h2>Enter your data to process with payment:</h2>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group" ng-repeat="ord in order">
            <div>Credit Card #</div>
            <input type="number" ng-model="requisites.creditCardNumber" placeholder="Credit Card #" />
            <div>Exp Date</div>
            <input type="date" ng-model="requisites.expiryDate" placeholder="Exp Date" />
            <input type="number" min="111" max="999" ng-model="requisites.cardCode" placeholder="CVV code" />
            <input type="text" ng-model="requisites.cardHolderName" placeholder="Card Holder Name" />
            <input class="uneditable-input" type="number" ng-model="requisites.paymentAmount" ng-value="{{ord.totalPrice}}"/>
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="submitEPayment()">Submit Payment</button>

</form>
