<h2>Your orders:</h2>

<div class="btn-group">
    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" ng-click="resetOrderBy()">None (Order ID)</a></li>
        <li ng-if="fixerUser.role == 'finance_employee'"><a class="dropdown-item" ng-click="setOrderBy('ordercID')">By customer #</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('date')">By date</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('orderRepairDate')">By repair date</a></li>
        <li><a class="dropdown-item" ng-click="setOrderBy('orderStatus')">By order status</a></li>
    </ul>
</div>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input class="form-control" type="number" ng-model="where.order" placeholder="Order number"/>
            <input ng-if="fixerUser.role == 'finance_employee'" class="form-control" type="number" ng-model="where.customer" placeholder="Customer #"/>
            <input class="form-control" type="number" ng-model="where.priceFrom" placeholder="Price from" />
            <input class="form-control" type="number" ng-model="where.priceTo" placeholder="Price To" />
            <select class="form-control" ng-model="where.status">
                <option value="all">-All-</option>
                <option value="Placed">Placed</option>
                <option value="InProgress">In Progress</option>
                <option value="Complete">Complete</option>
                <option value="Paid">Paid</option>
            </select>
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="filter()">Filter</button>
    <br />
</form>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Date</td>
        <td>Status</td>
        <td>Repair Date</td>
        <td>Customer Id</td>
        <td>Total Price</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders">
        <td ng-bind="order.id"></td>
        <td ng-bind="order.date"></td>
        <td ng-bind="order.status"></td>
        <td ng-bind="order.repairDate"></td>
        <td ng-bind="order.customerId"></td>
        <td ng-bind="order.totalPrice"></td>
        <td><button class="btn btn-default" type="button" ng-click="viewOrder(order.id)">View</button></td>
    </tr>
    </tbody>
</table>


