<h2>Your orders:</h2>

<div class="btn-group">
    <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">None (Order ID)</a></li>
        <li><a class="dropdown-item" href="#">By customer #</a></li>
        <li><a class="dropdown-item" href="#">By order status</a></li>
    </ul>
</div>


<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
        Order status
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">All</a></li>
        <li><a href="#placed">Placed</a></li>
        <li><a href="#inprocess">In Process</a></li>
        <li><a href="#complete">Complete</a></li>
        <li><a href="#paid">Paid</a></li>
    </ul>
</div>

<form novalidate class="form">
    <div class="form-group" >
        <div class="input-group">
            <input type="text" ng-model="where.like" placeholder="Part name contains"/>
            <input type="number" ng-model="where.customer" placeholder="Customer #"/>
            <input type="date" ng-model="where.dateFrom" placeholder="Date from" />
            <input type="date" ng-model="where.dateTo" placeholder="Date to" />
            <input type="number" ng-model="where.priceFrom" placeholder="Employee ID" />
            <input type="number" ng-model="where.priceTo" placeholder="Cheque date" />
        </div>
    </div>
    <br />
    <button class="btn btn-default" type="submit" ng-click="filter()">Filter</button>
</form>


<table class="table table-bordered table-striped">
    <thead>
    <tr><td>Id</td><td>Date</td><td>Status</td><td>Repair Date</td><td>Customer Id</td><td>Total Price</td></tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders">
        <td ng-bind="order.id"></td><td ng-bind="order.date"></td><td ng-bind="order.status"></td><td ng-bind="order.repairDate"></td><td ng-bind="order.customerId"></td><td ng-bind="order.totalPrice"></td>
        <td><button class="btn btn-default" type="button" ng-click="viewOrder(order.id)">View</button></td>
    </tr>
    </tbody>
</table>


